.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 5rem;
  gap: 3rem;
}
.myBox {
  margin-top: 1.5rem;
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.Heading {
  font-size: 3rem;
  color: #ea580c;
  font-weight: bold;
}

.likeButton {
  display: inline-block;
  background-color: #007bff;
  color: black;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  background: linear-gradient(to right, #ffedd5, #fce7f3);
}

.likeButton:hover{
  background: linear-gradient(to right, #ffe6cc, #f9daec);
}

.box {
  height: 25vh;
  width: 30vw;
  border-radius: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  gap: 0.5rem;
}

.box h3{
  font-weight: bold;
}

@media (max-width: 780px){
    .boxContainer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }

    .box{
        width: 90%;
    }
}

@media (max-width: 485px) {
  .Heading {
    font-size: 10vw;
  }

  .box {
    padding: 1rem;
    gap: 0.1rem;
  }

  .myBox{
    margin-top: 4%;
    gap: 4%;
    width: 90%;
    justify-content: center;
  }

  .box h3 {
    font-size: 100%;
  }

  .likeButton {
    font-size: 80%;
    padding: 8px 12px;
  }
}

